body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputpair{
    margin: 5px;
}

.inputpair > label{
    display: inline-block;
    width: 180px;
    text-align: right;
    margin-right: 5px;
}
.inputpair > input{
    width: 150px;
}
input[type=button]{
    margin: 10px;
    width: 50px;
}
.undoredo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 20px;
}
#undo{
    background-image: url(../images/undo.PNG);
}
#redo{
    background-image: url(../images/redo.PNG);
}